<a href="https://colab.research.google.com/github/Giuseppescaffid1/Audio-Classification-Deep-Learning/blob/main/TEST_Plenitude.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **PROF_PRELIEVI**

All'interno trovi il codice che viene eseguito nell'extend_data

In [16]:
import pandas as pd

In [57]:
ext_period = pd.date_range(start='2023-10-01', end='2023-12-31', freq='D')

In [58]:
add_back_start= '2022-10-01'
add_back_end =  '2022-12-31'

In [67]:
df_profilo_prel_SQL = pd.read_excel('/content/prof_prelievi(22+23).xlsx')

In [68]:
df_profilo_prel_SQL

,profilo,Dates,Profilo,Flag_x,key,data_init,data_end,PROF_beta1,PROF_beta2,PROF_beta3,PROF_beta4,categoria_uso,zona_climatica,classe_di_prelievo,Flag_y
0,C1A1,2022-02-01,C1A1,0,C1A10.0,2022-10-01,2023-09-30,1.00,0.0,0.00,0.0,C1,A,1,0
1,C1A1,2022-02-02,C1A1,0,C1A10.0,2022-10-01,2023-09-30,1.00,0.0,0.00,0.0,C1,A,1,0
2,C1A1,2022-02-03,C1A1,0,C1A10.0,2022-10-01,2023-09-30,1.00,0.0,0.00,0.0,C1,A,1,0
3,C1A1,2022-02-04,C1A1,0,C1A10.0,2022-10-01,2023-09-30,1.00,0.0,0.00,0.0,C1,A,1,0
4,C1A1,2022-02-05,C1A1,0,C1A10.0,2022-10-01,2023-09-30,1.00,0.0,0.00,0.0,C1,A,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20341,T2F3,2023-09-26,T2F3,0,T2F30.0,2022-10-01,2023-09-30,0.23,0.0,0.77,0.0,T2,F,3,0
20342,T2F3,2023-09-27,T2F3,0,T2F30.0,2022-10-01,2023-09-30,0.23,0.0,0.77,0.0,T2,F,3,0
20343,T2F3,2023-09-28,T2F3,0,T2F30.0,2022-10-01,2023-09-30,0.23,0.0,0.77,0.0,T2,F,3,0
20344,T2F3,2023-09-29,T2F3,0,T2F30.0,2022-10-01,2023-09-30,0.23,0.0,0.77,0.0,T2,F,3,0
20345,T2F3,2023-09-30,T2F3,0,T2F30.0,2022-10-01,2023-09-30,0.23,0.0,0.77,0.0,T2,F,3,0

In [78]:
df_profilo_prel = df_profilo_prel_SQL[(df_profilo_prel_SQL['Dates']>=pd.to_datetime(add_back_start)) & (df_profilo_prel_SQL['Dates']<=pd.to_datetime(add_back_end))] #possibile errore
df_profilo_prel#['Profilo'] = 'C1A1'

,profilo,Dates,Profilo,Flag_x,key,data_init,data_end,PROF_beta1,PROF_beta2,PROF_beta3,PROF_beta4,categoria_uso,zona_climatica,classe_di_prelievo,Flag_y
242,C1A1,2022-10-01,C1A1,0,C1A10.0,2022-10-01,2023-09-30,1.00,0.0,0.00,0.0,C1,A,1,0
243,C1A1,2022-10-02,C1A1,0,C1A10.0,2022-10-01,2023-09-30,1.00,0.0,0.00,0.0,C1,A,1,0
244,C1A1,2022-10-03,C1A1,0,C1A10.0,2022-10-01,2023-09-30,1.00,0.0,0.00,0.0,C1,A,1,0
245,C1A1,2022-10-04,C1A1,0,C1A10.0,2022-10-01,2023-09-30,1.00,0.0,0.00,0.0,C1,A,1,0
246,C1A1,2022-10-05,C1A1,0,C1A10.0,2022-10-01,2023-09-30,1.00,0.0,0.00,0.0,C1,A,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10419,T2F3,2022-12-27,T2F3,0,T2F30.0,2022-10-01,2023-09-30,0.23,0.0,0.77,0.0,T2,F,3,0
10420,T2F3,2022-12-28,T2F3,0,T2F30.0,2022-10-01,2023-09-30,0.23,0.0,0.77,0.0,T2,F,3,0
10421,T2F3,2022-12-29,T2F3,0,T2F30.0,2022-10-01,2023-09-30,0.23,0.0,0.77,0.0,T2,F,3,0
10422,T2F3,2022-12-30,T2F3,0,T2F30.0,2022-10-01,2023-09-30,0.23,0.0,0.77,0.0,T2,F,3,0
10423,T2F3,2022-12-31,T2F3,0,T2F30.0,2022-10-01,2023-09-30,0.23,0.0,0.77,0.0,T2,F,3,0

In [71]:
df_unique_values = df_profilo_prel[~df_profilo_prel.loc[:, df_profilo_prel.columns!='Dates'].duplicated()]

In [72]:
df_ext_list = list()
for dt_ext in ext_period:
    temp_df = df_unique_values.copy()
    temp_df.Dates = dt_ext
    df_ext_list.append(temp_df)
df_ext = pd.concat(df_ext_list)

In [73]:
df_profilo_prel_ext = pd.concat([df_profilo_prel_SQL, df_ext]).sort_values(by=['Profilo','Dates']) #possibile errore
df_profilo_prel_ext

,profilo,Dates,Profilo,Flag_x,key,data_init,data_end,PROF_beta1,PROF_beta2,PROF_beta3,PROF_beta4,categoria_uso,zona_climatica,classe_di_prelievo,Flag_y
0,C1A1,2022-02-01,C1A1,0,C1A10.0,2022-10-01,2023-09-30,1.00,0.0,0.00,0.0,C1,A,1,0
1,C1A1,2022-02-02,C1A1,0,C1A10.0,2022-10-01,2023-09-30,1.00,0.0,0.00,0.0,C1,A,1,0
2,C1A1,2022-02-03,C1A1,0,C1A10.0,2022-10-01,2023-09-30,1.00,0.0,0.00,0.0,C1,A,1,0
3,C1A1,2022-02-04,C1A1,0,C1A10.0,2022-10-01,2023-09-30,1.00,0.0,0.00,0.0,C1,A,1,0
4,C1A1,2022-02-05,C1A1,0,C1A10.0,2022-10-01,2023-09-30,1.00,0.0,0.00,0.0,C1,A,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10332,T2F3,2023-12-27,T2F3,0,T2F30.0,2022-10-01,2023-09-30,0.23,0.0,0.77,0.0,T2,F,3,0
10332,T2F3,2023-12-28,T2F3,0,T2F30.0,2022-10-01,2023-09-30,0.23,0.0,0.77,0.0,T2,F,3,0
10332,T2F3,2023-12-29,T2F3,0,T2F30.0,2022-10-01,2023-09-30,0.23,0.0,0.77,0.0,T2,F,3,0
10332,T2F3,2023-12-30,T2F3,0,T2F30.0,2022-10-01,2023-09-30,0.23,0.0,0.77,0.0,T2,F,3,0
10332,T2F3,2023-12-31,T2F3,0,T2F30.0,2022-10-01,2023-09-30,0.23,0.0,0.77,0.0,T2,F,3,0


###**PERC_PRELIEVI**

In [41]:
from decimal import Decimal
df_perc_prelievi_ext = pd.read_excel('/content/perc_prelievi.csv.xlsx')

In [42]:
df_perc_prelievi_ext

,Data,c1%B1,c1%C1,c1%D1,c1%E1,c1%F1,c1%B2,c1%C2,c1%D2,c1%E2,...,c1%C3,c1%D3,c1%E3,c1%F3,c2%,c4%,t1%1,t1%2,t1%3,timestamp_caricamento
0,2022-10-01,1.000000e-08,1.000000e-08,1.000000e-08,1.000000e-08,0.087434,1.000000e-08,1.000000e-08,1.000000e-08,1.000000e-08,...,1.000000e-08,1.000000e-08,1.000000e-08,1.000000e-08,0.207365,1.000000e-08,0.277409,3.699878e-01,1.000000e-08,2022-08-04T16:38:39.733+0000
1,2022-10-02,1.000000e-08,1.000000e-08,1.000000e-08,1.000000e-08,0.087434,1.000000e-08,1.000000e-08,1.000000e-08,1.000000e-08,...,1.000000e-08,1.000000e-08,1.000000e-08,1.000000e-08,0.207365,1.000000e-08,0.277409,1.000000e-08,1.000000e-08,2022-08-04T16:38:39.733+0000
2,2022-10-03,1.000000e-08,1.000000e-08,1.000000e-08,1.000000e-08,0.109708,1.000000e-08,1.000000e-08,1.000000e-08,1.000000e-08,...,1.000000e-08,1.000000e-08,1.000000e-08,1.525225e-01,0.218686,1.000000e-08,0.283256,3.469833e-01,4.267697e-01,2022-08-04T16:38:39.733+0000
3,2022-10-04,1.000000e-08,1.000000e-08,1.000000e-08,1.000000e-08,0.109708,1.000000e-08,1.000000e-08,1.000000e-08,1.000000e-08,...,1.000000e-08,1.000000e-08,1.000000e-08,1.525225e-01,0.218686,1.000000e-08,0.283256,3.469833e-01,4.267697e-01,2022-08-04T16:38:39.733+0000
4,2022-10-05,1.000000e-08,1.000000e-08,1.000000e-08,1.000000e-08,0.109708,1.000000e-08,1.000000e-08,1.000000e-08,1.000000e-08,...,1.000000e-08,1.000000e-08,1.000000e-08,1.525225e-01,0.218686,1.000000e-08,0.283256,3.469833e-01,4.267697e-01,2022-08-04T16:38:39.733+0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2023-09-26,1.000000e-08,1.000000e-08,1.000000e-08,1.000000e-08,0.070471,1.000000e-08,1.000000e-08,1.000000e-08,1.000000e-08,...,1.000000e-08,1.000000e-08,1.000000e-08,9.993727e-02,0.207365,5.378788e-01,0.286415,3.398387e-01,4.118142e-01,2022-08-04T16:38:39.733+0000
361,2023-09-27,1.000000e-08,1.000000e-08,1.000000e-08,1.000000e-08,0.070471,1.000000e-08,1.000000e-08,1.000000e-08,1.000000e-08,...,1.000000e-08,1.000000e-08,1.000000e-08,9.993727e-02,0.207365,5.378788e-01,0.286415,3.398387e-01,4.118142e-01,2022-08-04T16:38:39.733+0000
362,2023-09-28,1.000000e-08,1.000000e-08,1.000000e-08,1.000000e-08,0.070471,1.000000e-08,1.000000e-08,1.000000e-08,1.000000e-08,...,1.000000e-08,1.000000e-08,1.000000e-08,9.993727e-02,0.207365,5.378788e-01,0.286415,3.398387e-01,4.118142e-01,2022-08-04T16:38:39.733+0000
363,2023-09-29,1.000000e-08,1.000000e-08,1.000000e-08,1.000000e-08,0.070471,1.000000e-08,1.000000e-08,1.000000e-08,1.000000e-08,...,1.000000e-08,1.000000e-08,1.000000e-08,9.993727e-02,0.207365,5.378788e-01,0.286415,3.398387e-01,4.118142e-01,2022-08-04T16:38:39.733+0000
364,2023-09-30,1.000000e-08,1.000000e-08,1.000000e-08,1.000000e-08,0.070471,1.000000e-08,1.000000e-08,1.000000e-08,1.000000e-08,...,1.000000e-08,1.000000e-08,1.000000e-08,1.000000e-08,0.207365,5.378788e-01,0.286415,3.398387e-01,1.000000e-08,2022-08-04T16:38:39.733+0000

In [43]:
df_perc_prelievi_ext['c1%X1'] = Decimal(1)
df_perc_prelievi_ext['c1%X2'] = Decimal(1)
df_perc_prelievi_ext['c1%X3'] = Decimal(1)
df_perc_prelievi_ext.drop('timestamp_caricamento', inplace=True, axis=1)
df_perc_prelievi_ext.Data = (df_perc_prelievi_ext.Data + pd.offsets.DateOffset(years=1)).dt.strftime('%Y-%m-%d')
df_perc_prelievi_ext.set_index('Data', inplace=True)

In [49]:
print(df_perc_prelievi_ext)

                   c1%B1         c1%C1         c1%D1         c1%E1     c1%F1  \
Data
2023-10-01  1.000000e-08  1.000000e-08  1.000000e-08  1.000000e-08  0.087434
2023-10-02  1.000000e-08  1.000000e-08  1.000000e-08  1.000000e-08  0.087434
2023-10-03  1.000000e-08  1.000000e-08  1.000000e-08  1.000000e-08  0.109708
2023-10-04  1.000000e-08  1.000000e-08  1.000000e-08  1.000000e-08  0.109708
2023-10-05  1.000000e-08  1.000000e-08  1.000000e-08  1.000000e-08  0.109708
...                  ...           ...           ...           ...       ...
2024-09-26  1.000000e-08  1.000000e-08  1.000000e-08  1.000000e-08  0.070471
2024-09-27  1.000000e-08  1.000000e-08  1.000000e-08  1.000000e-08  0.070471
2024-09-28  1.000000e-08  1.000000e-08  1.000000e-08  1.000000e-08  0.070471
2024-09-29  1.000000e-08  1.000000e-08  1.000000e-08  1.000000e-08  0.070471
2024-09-30  1.000000e-08  1.000000e-08  1.000000e-08  1.000000e-08  0.070471

                   c1%B2         c1%C2         c1%D2         c1%E2  \
Data
2023-10-01  1.000000e-08  1.000000e-08  1.000000e-08  1.000000e-08
2023-10-02  1.000000e-08  1.000000e-08  1.000000e-08  1.000000e-08
2023-10-03  1.000000e-08  1.000000e-08  1.000000e-08  1.000000e-08
2023-10-04  1.000000e-08  1.000000e-08  1.000000e-08  1.000000e-08
2023-10-05  1.000000e-08  1.000000e-08  1.000000e-08  1.000000e-08
...                  ...           ...           ...           ...
2024-09-26  1.000000e-08  1.000000e-08  1.000000e-08  1.000000e-08
2024-09-27  1.000000e-08  1.000000e-08  1.000000e-08  1.000000e-08
2024-09-28  1.000000e-08  1.000000e-08  1.000000e-08  1.000000e-08
2024-09-29  1.000000e-08  1.000000e-08  1.000000e-08  1.000000e-08
2024-09-30  1.000000e-08  1.000000e-08  1.000000e-08  1.000000e-08

                   c1%F2  ...         c1%E3         c1%F3       c2%  \
Data                      ...
2023-10-01  1.027525e-01  ...  1.000000e-08  1.000000e-08  0.207365
2023-10-02  1.000000e-08  ...  1.000000e-08  1.000000e-08  0.207365
2023-10-03  1.291688e-01  ...  1.000000e-08  1.525225e-01  0.218686
2023-10-04  1.291688e-01  ...  1.000000e-08  1.525225e-01  0.218686
2023-10-05  1.291688e-01  ...  1.000000e-08  1.525225e-01  0.218686
...                  ...  ...           ...           ...       ...
2024-09-26  8.503910e-02  ...  1.000000e-08  9.993727e-02  0.207365
2024-09-27  8.503910e-02  ...  1.000000e-08  9.993727e-02  0.207365
2024-09-28  8.503910e-02  ...  1.000000e-08  9.993727e-02  0.207365
2024-09-29  8.503910e-02  ...  1.000000e-08  9.993727e-02  0.207365
2024-09-30  8.503910e-02  ...  1.000000e-08  1.000000e-08  0.207365

                     c4%      t1%1          t1%2          t1%3  c1%X1  c1%X2  \
Data
2023-10-01  1.000000e-08  0.277409  3.699878e-01  1.000000e-08      1      1
2023-10-02  1.000000e-08  0.277409  1.000000e-08  1.000000e-08      1      1
2023-10-03  1.000000e-08  0.283256  3.469833e-01  4.267697e-01      1      1
2023-10-04  1.000000e-08  0.283256  3.469833e-01  4.267697e-01      1      1
2023-10-05  1.000000e-08  0.283256  3.469833e-01  4.267697e-01      1      1
...                  ...       ...           ...           ...    ...    ...
2024-09-26  5.378788e-01  0.286415  3.398387e-01  4.118142e-01      1      1
2024-09-27  5.378788e-01  0.286415  3.398387e-01  4.118142e-01      1      1
2024-09-28  5.378788e-01  0.286415  3.398387e-01  4.118142e-01      1      1
2024-09-29  5.378788e-01  0.286415  3.398387e-01  4.118142e-01      1      1
2024-09-30  5.378788e-01  0.286415  3.398387e-01  1.000000e-08      1      1

            c1%X3
Data
2023-10-01      1
2023-10-02      1
2023-10-03      1
2023-10-04      1
2023-10-05      1
...           ...
2024-09-26      1
2024-09-27      1
2024-09-28      1
2024-09-29      1
2024-09-30      1

[365 rows x 23 columns]